/*---------------------------------------
   Todo defined colors
-----------------------------------------*/

// blue
$light-blue:#6BCBDC;
$fb-dark-blue:#223a82;
$fb-light-blue:#3257a7;
$popup-text-blue:#35A8DE;
// grey
$light-light-grey:#EBEEF4;
$light-grey:#C8C8C8;
$medium-grey:#878787;
$dark-grey:#565656;
$grey-background: #ebeef4;
$text-grey:#AEAEAE;
// colors
$yellow-ish:#F7EB01;
$gold-ish:#AA883A;
$gold2-ish:#F7BE16;
$orange-ish:#F89A1D;
$red-ish:#EE1C25;
$red-ish-light:#EE6B6F;
$red-ish-1:#F49193;
$green-ish:#00B04D;
$purple-ish:#B94C9D;
$pink-ish:#B94C9D;
$list-color: #F3F3F3;
//for line divider
$line: #222223;
$line2: #D3D3D3;
$sea-blue-green:#21bbb1;
$sea-blue:#BCE5ED;
$sea-blue-dark:#6BCBDC;
$photoqueue-blue:#326296;
$mend-it-blue:#082C49;
$sea-green:#00BEB3;
$delete-red-background: #ee1c25;
$options-dark-background: #33363d;
$options-divider-border: #53545a;
